@charset "UTF-8";

@media screen and (min-width:10px) and (max-width:500px){
  
div.親1 {
  border: 2px solid lime;
  background-color:rgba(0,250,200,0.2);
  display: flex;
  flex-wrap: wrap;  
  width: 400px;　
}
 
div.ヘア1 img {
  border: 5px solid aqua;
  background-color:rgba(0,250,200,0.2);
  width: 150px;
  box-sizing:border-box;
  flex-basis: 150px;  //要素を並べて親を超えないまで、または2つ並べて親を超える場合は、flex-wrap無効、要素が3つ以上並べ親を超えるとflex-wrapが動作  
}
div.ヘア2 img {
  border: 5px solid aqua;
  background-color:rgba(0,250,200,0.2);
  width: 150px;
  box-sizing:border-box;
  flex-basis: 150px;  //要素を並べて親を超えないまで、または2つ並べて親を超える場合は、flex-wrap無効、要素が3つ以上並べ親を超えるとflex-wrapが動作
}  
div.ヘア3 img {
  border: 5px solid aqua;
  background-color:rgba(0,250,200,0.2);
  width: 150px;
  box-sizing:border-box;
  flex-basis: 150px;  //要素を並べて親を超えないまで、または2つ並べて親を超える場合は、flex-wrap無効、要素が3つ以上並べ親を超えるとflex-wrapが動作
 }
div.ヘア4 img {
  border: 5px solid aqua;
  background-color:rgba(0,250,200,0.2);
  width: 150px;
  box-sizing:border-box;
  flex-basis: 150px;  //要素を並べて親を超えないまで、または2つ並べて親を超える場合は、flex-wrap無効、要素が3つ以上並べ親を超えるとflex-wrapが動作
}
  
}

 @media screen and (min-width:501px) and (max-width:1400px){
 div.ヘア1 img {
  border: 5px solid aqua;
  background-color:rgba(0,250,200,0.2);
  width: 40%;
  box-sizing:border-box;
  flex-basis: 40%;  //要素を並べて親を超えないまで、または2つ並べて親を超える場合は、flex-wrap無効、要素が3つ以上並べ親を超えるとflex-wrapが動作  
}
div.ヘア2 img {
  border: 5px solid aqua;
  background-color:rgba(0,250,200,0.2);
  width: 40%;
  box-sizing:border-box;
  flex-basis: 40%;  //要素を並べて親を超えないまで、または2つ並べて親を超える場合は、flex-wrap無効、要素が3つ以上並べ親を超えるとflex-wrapが動作
}  
div.ヘア3 img {
  border: 5px solid aqua;
  background-color:rgba(0,250,200,0.2);
  width: 40%;
  box-sizing:border-box;
  flex-basis: 40%;  //要素を並べて親を超えないまで、または2つ並べて親を超える場合は、flex-wrap無効、要素が3つ以上並べ親を超えるとflex-wrapが動作
 }
div.ヘア4 img {
  border: 5px solid aqua;
  background-color:rgba(0,250,200,0.2);
  width: 40%;
  box-sizing:border-box;
  flex-basis: 40%;  //要素を並べて親を超えないまで、または2つ並べて親を超える場合は、flex-wrap無効、要素が3つ以上並べ親を超えるとflex-wrapが動作
}
  
}  
 @media screen and (min-width:1400px) and (max-width:2000px){ 
 div.親1 {
  border: 2px solid lime;
  background-color:rgba(0,250,200,0.2);
  display: flex;
  flex-wrap: wrap;  
  width: 650px;　
}
 
div.ヘア1 img {
  border: 5px solid aqua;
  background-color:rgba(0,250,200,0.2);
  width: 240px;
  box-sizing:border-box;
  flex-basis: 240px;  //要素を並べて親を超えないまで、または2つ並べて親を超える場合は、flex-wrap無効、要素が3つ以上並べ親を超えるとflex-wrapが動作  
}
div.ヘア2 img {
  border: 5px solid aqua;
  background-color:rgba(0,250,200,0.2);
  width: 240px;
  box-sizing:border-box;
  flex-basis: 240px;  //要素を並べて親を超えないまで、または2つ並べて親を超える場合は、flex-wrap無効、要素が3つ以上並べ親を超えるとflex-wrapが動作
}  
div.ヘア3 img {
  border: 5px solid aqua;
  background-color:rgba(0,250,200,0.2);
  width: 240px;
  box-sizing:border-box;
  flex-basis: 240px;  //要素を並べて親を超えないまで、または2つ並べて親を超える場合は、flex-wrap無効、要素が3つ以上並べ親を超えるとflex-wrapが動作
 }
div.ヘア4 img {
  border: 5px solid aqua;
  background-color:rgba(0,250,200,0.2);
  width: 240px;
  box-sizing:border-box;
  flex-basis: 240px;  //要素を並べて親を超えないまで、または2つ並べて親を超える場合は、flex-wrap無効、要素が3つ以上並べ親を超えるとflex-wrapが動作
}
  
}  
